* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.grid {
  position: sticky;
  top: 50px;
  display: grid;
  /* grid: auto-flow; */
  grid-template-columns: 50px repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr) 50px;
  gap: 1px;
  width: 600px;
  height: 600px;
  margin: auto;
  background: rgb(129, 166, 221);
  /* border: 2px solid rgb(50, 145, 182); */
  grid-template-areas:
    "y c c c c c"
    "y c c c c c"
    "y c c c c c"
    "y c c c c c"
    "y c c c c c"
    "y x x x x x";

}

.cell {
  background: blue;
}

.axis {
  background: white;
}

.y-axis {
  grid-area: y;
}

.x-axis {
  grid-area: x;
}

.co1 {
  background: red;
}

.cell {
  background-color: yellow;
  grid-area: c;
}