html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.app {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
  height: 100vh;

  width: 100%;
  background: rgb(250, 248, 244);
  border: 2px solid rgba(128, 128, 128, 0.692);
}

.grid-container {

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 7px;
  box-sizing: border-box;
  padding: 10px;
  margin: auto;
  height: 100%;
  width: 100%;
  background: rgb(200, 190, 170);
  border: 2px solid rgba(128, 128, 128, 0.692);
}

.grid-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: 0px 0px 10px 2px rgba(110, 110, 110, 0.842);
  border: 1px solid white;
  background: rgb(16, 173, 194);
  transition: 0.3s ease;
  cursor: pointer;
  user-select: none;
  color: rgba(110, 110, 110, 0.014);
}

.grid-item:hover {
  background: rgb(16, 108, 194);
  transform: scale(1.2, 1.7)
}

/* .grid-item:nth-child(2n+2) {
  background: rgb(241, 255, 248);
  transition: 0.3s ease-in-out;
} */

/*
.cell {
  background: rgb(219, 219, 219);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.767);
  border-radius: 2px;
  box-shadow: 0px 0px 8px 2px rgba(102, 102, 102, 0.63);
  transition: 1.2s ease-out;
  color: rgba(255, 255, 255, 0);
} */

@media screen and (max-width: 450px) {
  .app {
    padding: 0;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 75px;

  }
}