html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
     flex-direction: column;
  width: 100%;
  height: 100vw;
  margin: 0px auto;
  padding: 0px;

    background: rgba(60, 140, 150, 0.4);
  background: rgba(150, 175, 125, 1);
    box-shadow: 0px 0px 50px 15px inset rgba(60, 60, 70, 0.3);
}
.content {
  display: flex;
  flex-direction: column;
  
 width: 100%;
height: 100%;
  margin:auto;
  padding: 0px 30px 30px 30px;
  background: rgba(150, 175, 125, 1);
  
}


.grid-body {
  box-sizing: border-box;
  height: fit-content;
  display: grid;
  width: 100%;
  gap:10px;
  grid-template-areas: 
  "head head head head head head"
  "cell4 cell4 cell5 cell5 cell5 cell5"
  "cell4 cell4 cell5 cell5 cell5 cell5"
  "cell6 cell6 cell6 cell6 cell1 cell1"
  "cell6 cell6 cell6 cell6 cell1 cell1"
  "cell2 cell2 cell2 cell3 cell3 cell3";
  
  margin: 0px auto 15px auto;
  padding: 0px 10px 15px 10px;
  background: rgba(150, 175, 125, 1);
  border: 0px solid rgba(60, 60, 60, 0.8);
}

.cell {
  min-width: 50px;
  min-height: 150px;
  background: white;
border: 2px solid rgba(60, 60, 60, 0.3);
outline: 6px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 25px 5px rgba(60, 60, 70,0.2);
transition: 150ms outline ease-in-out, 150ms border ease-in-out;
  
}

.cell:hover {
outline: 2px solid rgba(90, 130, 120, 0.7);
border: 1px solid rgba(255, 255, 255, 1);
}

/*head stuff*/
.head {
  grid-area: head;
  box-sizing: border-box;
  display: flex;
flex-direction:column;
height: fit-content;
min-height: fit-content;
justify-content: space-between;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 10px 0px;
  outline: 6px solid white;
  border: 2px solid white;
  background: white;
}
.head-text {
  box-sizing: border-box;
  width: 100%;
  margin: 0px auto 10px auto;
padding: 10px auto;
  text-align: center;
}

.head-text>h1 {
  padding: 5px 0px 5px 0px;
  margin: 5px auto;
  font-size: 1.7em;
}
.head-text>h5 {
  margin: 0px auto;
  padding: 0px 0px 10px 0px;
  
}

.menu-item {
  display: none;
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 5px;
  border: 1px solid white;
  text-align: center;
  background: rgba(180, 180, 190, 0.5);
}
.head-menu {
  display:none;
  box-sizing: border-box;
  padding: 0px;
  margin:0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cell1 {
  background: rgba(200, 210, 190, 1);
  grid-area: cell1;
}

.cell2 {
  background: rgba(209, 200, 135, 1);
  grid-area: cell2;
}
.cell3 {
  background: rgba(170, 140, 190, 1);
  grid-area: cell3;
}
.cell4 {
  background: rgba(170, 100, 125, 1);
  grid-area: cell4;
}
.cell5 {
  background: rgba(85, 176, 200, 1);
  grid-area: cell5;
}
.cell6 {
  background: rgba(150, 160, 170, 1);
  grid-area: cell6;
}
.cell7 {
  background: rgba(150, 175, 125, 1);
  outline-width: 5px;
    box-shadow: 0px 0px 30px 5px inset rgba(60, 80, 70,0.3);
  grid-area: cell7;
  z-index: 2;
  border-radius: 0px;
  border: 2px solid rgba(130, 150, 125, 1);
}
.footer {
  height: 50px;
  width: 100%;
  margin: auto;
  
}





@media screen and (max-width: 400px) {
 .app {
   padding: 0px 0px;
 }
 
 .content {
   padding: 0px;
   background: rgba(60, 140, 150, 0.4);
   box-shadow: 0px 0px 30px 10px inset rgba(60, 60, 70, 0.3);
 
 } 
 .grid-body {
   
  gap: 10px;
 box-shadow: 0px 0px 50px 10px inset rgba(60, 70, 50,0.5);
   
 }
}