html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color: white; */
  font-family: 'Titillium Web', sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: radial-gradient(rgb(246, 246, 246), rgba(241, 241, 241, 0.746));
}

:root {
  --blue1: #8DBACD;
  --blue2: #7EA6BB;
  --blue3: #6694A9;
  --blue4: #588FA1;
  --blue5: rgb(60, 127, 163);
}

* {
  box-sizing: border-box;
  user-select: none;
}
.app {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr 9fr;
  color: rgba(245, 245, 245, 0.9);
  padding: 0px 0px 0px 0px;
  height: 100vh;
  max-width: 550px;
  margin: 0 auto;
  border: 0px solid rgba(90, 90, 90, 0.521);
  border-bottom:0px  solid rgba(255, 255, 255, 0);
  border-top:0px solid rgba(90, 90, 90, 0);
  box-shadow: 0px 0px 25px 3px rgba(122, 122, 122, 0.555);
}
.headers {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: var( --blue5);
  margin: 0px 0px 2px 0px;
  padding: 0px 0px;
}
.content-container {
  padding: 10px 3px 5px 0px;
  box-sizing: border-box;
  color: rgb(54, 54, 54);
  /* margin: 0px 2px; */
  /* border-left: 1px solid rgba(36, 36, 23, 0.26);
  border-right: 1px solid rgba(36, 36, 23, 0.26); */
  background: rgba(245, 245, 245, 0.685);
}

.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background: var( --blue5);

  box-sizing: border-box;
  color: rgba(245, 245, 245, 1);
  margin: 0px 0px;
  padding: 3px;
  border-bottom: 2px solid rgb(146, 146, 146);
}

.toolbar input {
  font-size: 1em;
  padding: 2px 3px;
  border: 1px solid rgb(83, 81, 81);
  color: rgb(56, 56, 56);
  border-radius: 5px;
  margin: 2px;
  max-width: 170px;
}

.toolbar label {
  font-size: 1em;
  margin: 2px 5px 2px 2px;
}


.search-container {
  padding: 0;
  margin: 0;
}

.find-button {
  font-size: 1em;
  background: rgba(255, 255, 255, 0.945);
  border: 1px solid rgb(83, 81, 81);
  color: rgb(56, 56, 56);
  border-radius: 5px;
  padding: 5px auto;
  margin: 2px;
}
.header-top {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0px 0px 1px 0px;
  padding: 5px;
  background: rgba(36, 36, 23, 0.157);
}

.header-top>h1 {
  box-sizing: border-box;
  margin: 5px 0px 5px 5px;
}
.header-strip {
  margin: 5px;
  font-size: 20px;
}

.menu-icon {
  box-sizing: border-box;
  font-size: 1.1em;
  height: 34px;
  width: fit-content;
  text-align: center;
  margin: auto 10px;
  padding: 2px 10px 0px 10px;
  font-weight: bold;
  background: rgba(62, 129, 41, 0.726);
  border: 1px solid rgb(199, 199, 199);
  border-radius: 15px;
  transition: 300ms background ease, 300ms box-shadow ease-in;
}

.menu-icon:hover {
  background: rgba(243, 181, 37, 0.76);
  box-shadow: 0px 0px 10px 2px inset rgba(243, 227, 138, 0.514);

}

.menu-icon:focus {
  background: rgba(243, 181, 37, 0.76);

}

.nav-bar {
  display: flex;
  justify-content: space-around;
  background: rgba(192, 192, 182, 0.383);
  padding: 0px 0px;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
}

.top-container-header {
  display: flex;
  justify-content: space-between;
}

.welcome-message {
  box-sizing: border-box;
  margin: 2px 2px;
  padding: 2px 0px;
  font-size: 0.8em;
}

.collapse {
  font-size: 0.8em;
}

.userform {
  box-sizing: border-box;
  /* border: 1px solid rgba(73, 73, 73, 0.349); */
  border-radius: 2px;
  /* padding: 0px 5px; */
  margin: 0px 0px;
  /* height: 100%; */
  transition: 0.5s;
  background: rgba(241, 241, 241, 0.418);
  overflow: hidden;
}
fieldset {
  border: 1px solid rgb(168, 168, 168);
  background: rgba(255, 255, 255, 0.993);
  border-radius: 5px;
}
label {
  font-size: 1em;
}

.text-input {
  font-size: 1em;
  padding: 3px;
  border: 1px solid rgba(97, 136, 148, 0.63);
  background: rgba(255, 255, 255, 0.924);
  border-radius: 3px;

  color: rgb(70, 70, 70);

}

select {
  color: rgba(59, 59, 59, 0.788);
  background: rgb(248, 248, 248);
  border: 2px solid rgba(97, 136, 148, 0.479);
  border-radius: 3px;
  font-size: 1em;
}
select option{
  color: rgba(59, 59, 59, 0.788);
  background: rgb(248, 248, 248);
  border:2px solid rgba(97, 136, 148, 0.411);
  border-radius: 3px;
  font-size: 1em;
}

.chat-option {
  color: rgb(63, 63, 63);
}

.field {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 0;
}

.button-container {
  padding: 2px 5px 1px 5px;
  margin: 5px auto 0px auto;
  box-sizing: border-box;
  display: flex;
  justify-content:space-between;
  /* text-align: center; */
  font-size: 1em;

}

.menu-button {
  box-sizing: border-box;
  margin: 1px 2px;
  width: 100%;
  color: white;
  background: rgba(62, 129, 41, 0.726);
  border: 1px solid rgba(32, 32, 29, 0.274);
}

.getDataButton {
  text-align: center;
  padding: 3px;
  font-size: 1em;
  margin: auto
}

.saveButton {
  text-align: center;
  padding: 2px 0px;
  font-size: 1em;
  width: 40%;
  margin: 0px 2px;
}

.results-container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: initial;
  overflow: auto;
  height: 100%;
}

.data-display {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  width: auto;
}

.display-container {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  width: auto;
  overflow: auto;
}

.display-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 0px;
  margin: 0px 0px 0px 0px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(36, 36, 23, 0.527);
  background: rgb(229, 231, 231);
  padding: 0px;
}

.data-header-item {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

.message-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 3px;
  box-sizing: border-box;
  width: 335px;
  min-height: fit-content;
  max-height: 125px;
  background: white;
  margin: 0 auto 15px auto;
  border: 1px solid rgba(36, 36, 23, 0.527);
  border-radius: 3px;
  box-shadow: 0px 1px 10px 1px rgba(71, 71, 56, 0.226);
  color: rgb(49, 49, 49);
  z-index: 0;
}

.card-date {
  background: rgba(62, 129, 41, 0.726);
  display: flex;
  justify-content: flex-end;
  border: 2px solid white;
  color: white;
  padding: 2px 5px;
}

.card-body {
  font-size: 0.9em;
  max-height: fit-content;
  overflow: auto;
  padding: 2px 5px;
  /* height: fit-content; */
}

.card-author {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  height: 25px;
  border: 2px solid white;
  padding: 2px 5px;
  font-size: 0.8em;
  font-style: italic;
}


.footer {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 0;
  max-width: 550px;
  text-align: center;
  /* padding-bottom: 13px; */
  bottom: 0;
  background: var( --blue5);

  border-top: 1px solid rgb(5, 3, 3);
}

/*  NAV BAR STYLES */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(61, 68, 167);
  background-color: rgba(251, 251, 251, 0.856);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: rgba(25, 36, 46, 0.7);
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #a1afbd;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.queryMsg1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center;
  display: none; */
  font-size:12px;
  color: #ffffff;
  margin: 0px;
  padding: 1pzpx;
  height: 0px;
  opacity: 0;
  transition: opacity .5s, height .75s;
  transform: 1s;
  }

.queryMsg1.show {
  box-sizing: border-box;
  font-size: 11px;
  color: #1d2f92;
  padding: 0px;
  opacity: 1;
  /* height: 15px; */
  transition: opacity 0.5s, height .75s;
  transform: 1s;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}