/* log last updated 1.18.20 */

body {
    background-color: rgba(219, 219, 219, 0.288);
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    user-select: none;
}

.mt-4 {
    display: block;
    box-sizing: border-box;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

.lead {
    font-size: 1em;
}

.row {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.navbar-subtext {
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}
.header-text {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-around;
}
.grid-container {
    box-sizing: border-box;
    display: grid;
    padding: 5px 0px;
    margin: 15px 0px auto 0px;
    border: 1px solid rgba(128, 128, 128, 0.233);
    border-radius: 30px 30px 50px 50px;
    /* grid-template-columns: minmax(min-content, 280px) minmax(min-content, 400px); */
    grid-gap: 0.3em;
    grid-auto-rows: minmax(1px, auto);
    background: rgba(165, 165, 165, 0.315);
}

/* Result Display Styles */
.results-container {
    display: none;
    box-sizing: border-box;
    position: relative;
    background: rgba(52, 58, 64, 0.788);
    color: rgb(230, 230, 230);
    border: 1px solid rgb(255, 255, 255);
    border-top: 0px solid rgba(255, 255, 255, 0.363);
    width: auto;
    border-radius: 20px 20px 5px 5px;
    box-shadow: 0px 0px 5px 2px rgba(26, 25, 25, 0.418);
    padding: 0px 0px 10px 0px;
}


#result-list {
    box-sizing: border-box;
    display: none;
    max-height: 425px;
    width: auto;
    margin: 15px 15px auto 15px;
    padding: 10px 10px 20px 10px;
    font-size: 15px;
    ;
    color: rgba(52, 58, 64, 0.842);
    background: rgb(255, 255, 255);
    border: 3px solid rgba(156, 156, 156, 0.986);
    border-radius: 15px 5px 5px 15px;
    box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.651);
    text-align: center;
    overflow-y: auto;
}

.display-header-controls {
    display: flex;
    position: relative;
    justify-content: space-between;
    vertical-align: middle;
    background: rgba(45, 48, 51, 0.473);
    width: 100%;
    margin: 0;
    padding: 5px;
    padding-left: 0px;
    border-radius: 20px 20px 5px 5px;
    border-bottom: 2px solid rgba(214, 214, 214, 0.473);
}

.output-id {
    font-weight: 500;
}

.output-playername {
    padding-left: 5px;
}

.player-header {
    margin-top: 3px;
    margin-bottom: 1px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 10px;
    font-size: 14px;
    ;
    background: rgb(209, 209, 209);
    border-radius: 15px 0px 0px 15px;
    border-bottom: 2px solid rgba(156, 156, 156, 0.336);
    border-left: 2px solid rgba(156, 156, 156, 0.349);
    text-align: center;
}

.detes-container {
    box-sizing: border-box;
    width: auto;
    display: inline-block;
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 15px 0px;
}

.player-details {
    position: relative;
    display: inline;
    padding-left: 0px;
    padding-right: 0px;
}

.setting-inputs {
    box-sizing: border-box;
    display: block;
    position: relative;
    margin: 0;
    justify-content: space-between;
    width: 100%;
    min-width: 350px;
    padding: 15px;
    background: rgba(52, 58, 64, 0.788);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px 20px 5px 5px;
    box-shadow: 0px 0px 5px 2px rgba(26, 25, 25, 0.418);
}

/* RACE SELECTION BOX STYLES */
.race-container {
    position: relative;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(200, 200, 201);
    border: 2px solid rgba(156, 156, 156, 0.986);
    border-bottom: 0px solid rgba(156, 156, 156, 0);
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.651);
}

.raceList {
    height: 200px;
    overflow: auto;
    width: 220;
    border: 0.15em inset rgba(52, 58, 64, 0.623);
    margin: 10px auto 5px auto;
    padding: 5px;
    font-size: 1em;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    background-color: rgba(243, 243, 243, 0);
}

li {
    padding-left: 0px;
    width: fit-content;
}

label {
    display: block;
    color: WindowText;
    background-color: Window;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 2px solid white;
    align-self: flex-end;
}

.raceList label:hover {
    background-color: Highlight;
    color: HighlightText;
    border: 2px solid Highlight;
    font-weight: 500;
}

/* PLAYER DATA FORM STYLES -  input area bottom left */
#player-inputs {
    position: relative;
    width: auto;
    margin: auto;
    background: rgb(200, 200, 201);
    padding: 0px 15px 15px 15px;
    border: 2px solid rgba(156, 156, 156, 0.856);
    border-top: 0px solid rgba(185, 185, 185, 0);
    border-radius: 0px 0px 5px 5px;
    box-shadow: 4px 4px 3px rgba(10, 10, 10, 0.37);
    max-height: 250px;
}

.player-settings-interior {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border: 0.15em inset rgba(52, 58, 64, 0.623);
    border-radius: 5px;
    padding: 5px;
    max-height: 200px;
    overflow-y: auto;
    width: 220;
    margin: auto;
}

.player-counter-container {
    width: auto;
    margin: auto;
    margin-bottom: 10px;
    background: rgba(218, 216, 216, 0.438);
    padding: 5px 10px;
    border-bottom: 1px solid rgba(40, 44, 48, 0.219);
    vertical-align: middle;
}

/* BUTTONS */
.button-container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: auto;
}

.list-buttons {
    display: flex;
    justify-content: space-between;
}

#select-btn {
    background: rgba(50, 55, 59, 0.87);
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.836);
    border: 2px solid rgba(214, 216, 219, 0.918);
    margin-bottom: 10px;
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#clear-btn {
    background: rgba(50, 55, 59, 0.87);
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.842);
    border: 2px solid rgba(214, 216, 219, 0.918);
    margin-bottom: 10px;
    border-radius: 5px;
}

.display-header {
    margin: auto;
    margin-bottom: 0px;
    width: auto;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1em;
    height: auto;
    vertical-align: middle;
}

.submit-container {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-right: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
}

#submit-btn {
    margin-bottom: 0px;
    border: 1px solid rgba(214, 216, 219, 0.767);
    display: none;
    border-radius: 8px;
    font-size: 1em;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

#reset-btn {
    border-radius: 25px;
    font-size: 1em;
    text-justify: auto;
    width: auto;
    margin: auto;
    margin-left: 0px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    border: 1px solid rgba(221, 221, 221, 0.705);
}

.flexInput {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin: auto;
    width: auto;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#player-counter {
    width: 40px;
    margin-bottom: 10px;
    font-size: 0.9em;
    background: rgb(219, 219, 219);
    border: 1px solid rgba(40, 44, 48, 0.377);
    border-radius: 5px;
    padding: 2px;
    vertical-align: middle;
}

.player-choice-label {
    padding: 0px;
    margin: 0;
    vertical-align: middle;
    font-size: 0.9em;
}

.player-count-label {
    font-size: 0.9em;
    padding: 0px;
    margin: 0;
    vertical-align: middle;
}

#choice-counter {
    width: 40px;
    margin-bottom: 0px;
    font-size: 0.9em;
    background: rgb(219, 219, 219);
    border: 1px solid rgba(40, 44, 48, 0.377);
    border-radius: 5px;
    padding: 2px;
    vertical-align: middle;
}

#player-details-container {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid rgba(255, 255, 255, 0.863);
    width: auto;
    padding-left: 10px;
    margin: auto;
    border-radius: 4%;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}

.textbox-label {
    vertical-align: middle;
    padding-bottom: 10px;
    margin: auto;
    width: 100%;
    font-size: 0.9em;
}

.name-input-field {
    padding-top: 0px;
    padding: 8px;
    width: 100%;
    height: 25px;
    margin: 0;
    vertical-align: middle;
    font-size: 0.9em;
    margin-bottom: 10px;
    background: rgba(146, 151, 156, 0.082);
    border: 1px solid rgba(124, 124, 124, 0.377);
    border-radius: 5px;
}

.top-container {
    padding: 0px;
    margin: 0px;
    background: rgba(52, 58, 64, 0.952);
    grid-area: 1/span 2;
    width: 100%;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 3px;
    height: 20px;
}

.bottom-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background: rgba(52, 58, 64, 0.993);
    grid-area: 2/span 2;
    width: auto;
    border: 2px solid rgb(124, 124, 124);
    height: 50px;
    border-radius: 5px 5px 50px 50px;
}

#picker-label {
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    background: transparent;
    font-size: 13px;
    color: rgba(214, 216, 219, 0.918);
    margin-right: 5px;
    vertical-align: middle;
}

.style-picker {
    box-sizing: border-box;
    vertical-align: middle;
    padding: 1px;
    margin-left: 25px;
}

.section-header {
    position: relative;
    border-bottom: 2px solid rgba(52, 60, 68, 0.397);
    width: auto;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 5px;
    font-size: 1.1em;
}

#modal-menu {
    transition: all 1s;
    display: none;
    box-sizing: border-box;
    font-size: 13px;
    position: absolute;
    justify-content: center;
    align-content: space-around;
    top: 20%;
    margin: auto;
    height: 400px;
    width: 350px;
    border-radius: 5%;
    border: 4px solid rgba(39, 43, 44, 0.308);
    background: rgba(65, 75, 78, 0.836);
    box-shadow: 1px 1px 7px 5px rgba(10, 10, 10, 0.363);
    z-index: 3;
    overflow: visible;
}

#modal-grid {
    top: 2%;
    text-align: left;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template: repeat(1, 3fr) / repeat(1, 1fr);
    position: relative;
    justify-content: space-evenly;
    align-content: center;
    height: 325px;
    width: 95%;
    margin: auto;
    background: rgba(255, 255, 255, 0.795);
    border-radius: 5%;
    border: 3px solid rgba(255, 255, 255, 0.274);
    box-shadow: 2px 2px 5px 5px rgba(35, 38, 41, 0.835);
    z-index: 3;
    user-select: auto;
    overflow: hidden;
}

#modal-header-container {
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 10px;
    color: rgba(235, 235, 235, 0.911);
}

#modal-header-container>h6 {
    font-size: 1.5em;
    text-shadow: 0px 0px 3px 3px rgba(235, 24, 235, 0.835);
}

.modal-text {
    text-align: left;
    vertical-align: middle;
    padding: 10px;
    height: 100%;
    font-size: 15px;
    font-weight: 500;
    overflow: auto;
    user-select: text;
    margin-top: 20px;
}

.dimmer {
    transition: all 3s;
    display: none;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background: rgba(223, 227, 233, 0.507);
    z-index: 1;
    position: fixed;
    justify-content: center;
    align-content: space-around;
    margin: auto;
    padding: 5px;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.modal-cell {
    border: 2px solid rgba(255, 255, 255, 0.712);
    border-radius: 20px;
    background: rgba(38, 39, 44, 0.486);
    color: white;
    padding: 10px;
    margin: 10px;
    font-size: 1em;
    font-weight: 400;
    box-shadow: 0px 0px 4px 3px inset rgba(46, 45, 54, 0.219);
}

#modal-button {
    padding: 2px;
    border: 1px solid rgb(124, 124, 124);
    font-size: 0.8em;
    background: rgba(255, 255, 255, 0.651);
    border-radius: 5px;
}

.welcome-modal {
    position: absolute;
    z-index: 4;
    top: 15vw;
    left: 7.5vw;
    right: 7.5vw;
    padding: 15px;
    height: 425px;
    width: 85vw;
    max-width: 500px;
    border-radius: 5%;
    border: 4px solid rgba(39, 43, 44, 0.308);
    background: rgba(65, 75, 78, 0.945);
    transition: 1.5s;
}
.welcome-modal:hover {
    opacity: 0;
    transition: 1.5s;
}
.dimmer:hover {
    opacity: 0;
}
.greeting-text {
    background: white;
    padding: 10px;
    font-size: 0.9em;
}
.welcome-modal>h6 {
    color: white;
}
.welcome-footer {
    color: white;
    margin: auto;
    padding: 0px 5px 5px 65px;
}

@media screen and (max-width: 600px) {
    .grid-container {
        /* grid-template-columns: minmax(300px, min-content); */
        /* grid-template-columns: 1fr; */
        width: auto;
        margin-top: 10px;
    }

    body {
        overflow: auto;
    }
    .bottom-container {
        padding: 10px;
        grid-area: 3/span 1;
    }

    .top-container {
        grid-area: 1/span 1;
        width: auto;
    }
}