:root {
    --gunmetal-color: #343a40f5;
    --default-grey: #e0e0e0d3;
}

body {
    background-color: rgba(219, 219, 219, 0.288);
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.mt-4 {
    display: block;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.lead {
    font-size: 1em;
}

.row {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.grid-container {
    box-sizing: border-box;
    display: grid;
    position: relative;
    padding: 5px 5px 5px 5px;
    border: 1px solid rgba(128, 128, 128, 0.233);
    border-radius: 30px  30px 50px 50px;
    margin-top: 15px;
    grid-template-columns: minmax(min-content, 280px) minmax(min-content, 400px);
    /* grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr); */
    grid-column-gap: 0.3em;
    grid-row-gap: 0.3em;
    grid-auto-rows: minmax(15px, auto);
    background: rgba(165, 165, 165, 0.171);

}

/* Result Display Styles */
.results-container {
    box-sizing: border-box;
    position: relative;
    justify-content: space-between;
    top: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    background: rgba(52, 58, 64, 0.719);
    color: rgb(230, 230, 230);
    border: 1px solid rgb(255, 255, 255);
    border-top: 0px solid rgba(255, 255, 255, 0.363);
    width: auto;
    border-radius: 20px 20px 5px  5px;
    box-shadow: 1px 0px 3px rgb(0, 0, 0);
}


#result-list {
    box-sizing: border-box;
    display: none;
    width: auto;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size:15px;;
    color: rgba(52, 58, 64, 0.842);
    background-color: rgb(255, 255, 255);
    border: 3px solid rgba(156, 156, 156, 0.986);
    border-radius: 15px 5px 5px 15px;
    box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.651);
    max-height: 425px;
    text-align: center;
    overflow-y: auto;


}

.display-header-controls {
    display: flex;
    position: relative;
    justify-content: space-between;
    vertical-align: middle;
    background: rgba(45, 48, 51, 0.473);
    width: 100%;
    margin: 0;
    padding: 5px;
    padding-left: 0px;
    border-radius: 30px 30px 5px 5px;
    border-bottom: 2px solid rgba(214, 214, 214, 0.473);
}

.output-id {
    font-weight: 500;
}

.output-playername {
    padding-left: 5px;
}

.player-header {
    margin-top: 3px;
    margin-bottom: 1px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 10px;
    font-size: 14px;;
    background: rgb(209, 209, 209);
    border-radius: 15px 0px 0px 15px;
    border-bottom: 2px solid rgba(156, 156, 156, 0.336);
    border-left: 2px solid rgba(156, 156, 156, 0.349);
    text-align: center;
}

.detes-container {
    box-sizing: border-box;
    width: auto;
    display: inline-block;
    padding: 0px;
    padding-left: 15px;
    margin: 0px;
    margin-bottom: 15px;

}

.player-details {
    position: relative;
    display: inline;
    padding-left: 0px;
    padding-right: 0px;
    
}

.setting-inputs {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    background: rgba(52, 58, 64, 0.842);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px 20px 5px 5px;
    box-shadow: 1px 0px 3px rgb(0, 0, 0);
}


/* RACE SELECTION BOX STYLES */
.race-container {
    position: relative;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(200, 200, 201);
    border: 2px solid rgba(37, 37, 37, 0.61);
    border-bottom: 0px solid rgba(37, 37, 37, 0.61);
    border-radius: 5px 5px 0px 0px;
    box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.651);
}

.raceList {
    height: 200px;
    overflow: auto;
    width: 220;
    border: 0.15em inset rgba(52, 58, 64, 0.623);
    margin: auto;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 0.85em;
    background: rgb(255, 255, 255, 1);
    border-radius: 5px;

}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    background-color: rgba(243, 243, 243, 0);
}

li {
    padding-left: 0px;
    width: fit-content;
}

label {
    display: block;
    color: WindowText;
    background-color: Window;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 2px solid white;
    align-self: flex-end;
    
}

.raceList label:hover {
    background-color: Highlight;
    color: HighlightText;
    border: 2px solid Highlight;
    font-weight: 500;
}

/* PLAYER DATA FORM STYLES -  input area bottom left */
#player-inputs {
    position: relative;
    width: auto;
    margin: auto;
    background: rgb(200, 200, 201);
    padding: 15px;
    padding-bottom: 15px;
    padding-top: 00px;
    border: 2px solid rgba(37, 37, 37, 0.61);
    border-top: 0px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.651);
    max-height: 250px;
    /* overflow-y: auto; */
}

.player-settings-interior {
    box-sizing: border-box;
    margin-top: 0px;
    background-color: rgb(253, 251, 251);
    border-left: 3px solid var(--default-grey);
    border: 1px solid rgba(40, 44, 48, 0.493);
    border: 0.15em inset rgba(52, 58, 64, 0.623);
    border-radius: 5px;
    padding: 5px;
    max-height: 200px;
    overflow-y: auto;
    width: 220;
    margin: auto;
}

.player-counter-container {
    width: auto;
    margin: auto;
    margin-bottom: 10px;
    background: rgba(218, 216, 216, 0.438);
    padding: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid rgba(40, 44, 48, 0.219);
    vertical-align: middle;
}

/* BUTTONS */
.button-container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: auto;
}

.list-buttons {
    display: flex;
    justify-content: space-between;
}

#select-btn {
    background: rgba(50, 55, 59, 0.87);
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.836);
    border: 2px solid rgba(214, 216, 219, 0.918);
    margin-bottom: 10px;
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#clear-btn {
    background: rgba(50, 55, 59, 0.87);
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.842);
    border: 2px solid rgba(214, 216, 219, 0.918);
    margin-bottom: 10px;
    border-radius: 5px;
}

.display-header {
    margin: auto;
    width: auto;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1em;
    height: auto;
    margin-bottom: 0px;
    vertical-align: middle;
}

.submit-container {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-right: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
}

#submit-btn {
    margin-bottom: 0px;
    border: 1px solid rgba(214, 216, 219, 0.767);
    display: none;
    border-radius: 8px;
    font-size: 1em;
    background: rgba(5, 236, 36, 0.349);
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 1px 2px rgba(10, 10, 10, 0.493);
}

#reset-btn {
    border-radius: 25px;
    font-size: 1em;
    text-justify: auto;
    width: auto;
    margin: auto;
    margin-left: 0px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    border: 1px solid rgb(43, 48, 48);
    border: 1px solid rgba(221, 221, 221, 0.705);
}

.flexInput {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin: auto;
    width: auto;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#player-counter {
    width: 40px;
    margin-bottom: 10px;
    font-size: 0.9em;
    background: rgb(219, 219, 219);
    border: 1px solid rgba(40, 44, 48, 0.377);
    border-radius: 5px;
    padding: 2px;
    vertical-align: middle;
}

.player-choice-label {
    padding: 0px;
    margin: 0;
    vertical-align: middle;
    font-size: 0.9em;
}

.player-count-label {
    font-size: 0.9em;
    padding: 0px;
    margin: 0;
    vertical-align: middle;
}

#choice-counter {
    width: 40px;
    margin-bottom: 0px;
    font-size: 0.9em;
    background: rgb(219, 219, 219);
    border: 1px solid rgba(40, 44, 48, 0.377);
    border-radius: 5px;
    padding: 2px;
    vertical-align: middle;
}

#player-details-container {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid rgba(255, 255, 255, 0.863);
    width: auto;
    padding-left: 10px;
    margin: auto;
    border-radius: 4%;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}

.textbox-label {
    vertical-align: middle;
    padding-bottom: 10px;
    margin: auto;
    width: 100%;
    font-size: 0.9em;
}

.name-input-field {
    padding-top: 0px;
    padding: 5px;
    width: 100%;
    height: 25px;
    margin: 0;
    vertical-align: middle;
    font-size: 0.8em;
    margin-bottom: 10px;
    background: rgba(40, 44, 48, 0.082);
    border: 1px solid rgba(40, 44, 48, 0.377);
    border-radius: 5px;
}

.top-container {
    padding: 0px;
    margin: 0px;
    background: rgba(52, 58, 64, 0.952);
    grid-area: 1/span 2;
    width: 100%;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 3px;
    height: 20px;
}

.bottom-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background: rgba(52, 58, 64, 0.993);
    grid-area: 2/span 2;
    width: auto;
    border: 2px solid rgb(124, 124, 124);
    height: 50px;
    border-radius: 5px 5px 50px 50px;
}
    #picker-label {
        /* display: block; */
        box-sizing: border-box;
        padding: 5px;
        margin: 0;
        background: transparent;
        font-size: 13px;
        color: rgba(214, 216, 219, 0.918);
        margin-right: 5px;
        vertical-align: middle;
    }
    .style-picker {
        box-sizing: border-box;
        vertical-align: middle;
        padding: 1px;
        margin-left: 25px;

    }

.section-header {
    position: relative;
    border-bottom: 2px solid rgba(52, 60, 68, 0.397);
    width: auto;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 5px;
    font-size: 1.1em;
}

#modal-menu {
    transition: all 5s;
    display: none;
    box-sizing: border-box;
font-size: 13px;
    position: absolute;
    justify-content: center;
    align-content: space-around;
    margin: auto;
    padding: 5px;
    height: 60%;
    width: 60%;
    background: rgba(49, 56, 58, 0.685);
    border-radius: 180%;
    border: 4px solid rgba(39, 43, 44, 0.226);
    box-shadow: 1px 1px 7px 5px rgba(10, 10, 10, 0.315);
    z-index: 3;
    top: 20%;
    overflow:visible ;
}

#modal-grid {
    top: 3%;
    text-align: center;
    padding: 0;
    margin: 0;
    /* transition: all 5s; */
    box-sizing: border-box;
   display: grid;
     /* grid-template: repeat(1,1fr) / repeat(1, 1fr); */

    position: relative;
    justify-content: center;
    align-content: center;
    height: 93%;
    width: 93%;
    margin: auto;
    background: rgba(255, 255, 255, 0.623);
    border-radius: 180%;
    border: 4px solid rgba(133, 139, 146, 0.692);
    box-shadow: 2px 2px 5px 5px rgba(35, 38, 41, 0.815);
    z-index:3;

    overflow: auto;
;
}
.modal-text {
    margin: 0;
    text-align: left;
    vertical-align: middle;
    padding: 10px;
    height: 100%;
}

.dimmer {
    transition: all 3s;
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(60, 71, 85, 0.507);
    z-index: 1;
    position: absolute;
    justify-content: center;
    align-content: space-around;
    margin: auto;
    padding: 5px;
    height: 100%;
    width: 100%;
}


#modal-button {
    padding: 2px;
    border: 1px solid rgb(124, 124, 124);
    font-size: 0.8em;
    background: rgba(255, 255, 255, 0.651) ;
    border-radius: 5px;
}
/*

display: none;
position: absolute;
justify-content: center;
width: 300px;
height: auto;
top: 100px;
background-color: rgba(34, 110, 133, 0.938);
border-radius: 20px;
left: 50%;
margin-left: -155px;
padding-top: 50px;
padding-bottom: 50px;
text-align: center;
font-family: 'Schoolbell', cursive;
color: rgba(255, 255, 255, 0.822);
font-size :3.2em;
font-weight: 300;
cursor: pointer;
border: 8px solid rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
z-index: 1;
} */

@media screen and (max-width:600px) {
    .grid-container {
        grid-template-columns: minmax(300px, min-content);
        grid-template-columns: 1fr;
        width: auto;
        margin: auto;
        margin-top: 10px;
    }
    body {
        overflow: auto;
    }
}

@media screen and (max-width: 600px) {
    .bottom-container {
        padding: 10px;
        grid-area: 3/span 1;

    }

    .top-container {
        grid-area: 1/span 1;
        width: auto;
    }

}

/* @keyframes modal-animation {
    0% {box-shadow: 4px 5px 4px rgba(133, 133, 133, 0.582)}
    25% {box-shadow: -4px -5px 8px rgba(133, 133, 133, 0.582)}
    50% {box-shadow: -12px 5px 0px rgba(133, 133, 133, 0.582)}
    75% {box-shadow: 11px -12px 4px rgba(133, 133, 133, 0.582)}
    100%{box-shadow: 8px 10px 16px rgba(133, 133, 133, 0.582)}
} */