

.grid-container2 {
    transition: all 0.5s ease;
    box-sizing: border-box;
    display: grid;
    position: relative;
    padding: 3px 10px 3px 10px;
    border: 1px solid rgba(128, 128, 128, 0.233);
    border-radius: 50px 50px 50px 50px;
    margin-top: 15px;
    grid-template-columns: minmax(300px, 280px) minmax(min-content, 400px);
    /* grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr); */
    grid-column-gap: 0.3em;
    grid-row-gap: 0.3em;
    grid-auto-rows: minmax(15px, auto);
    background: rgba(165, 165, 165, 0.171);
    
}

/* Result Display Styles */

.player-details2 {
    transition: all 0.5s ease;
    position: relative;
    display: inline;
    padding-left: 0px;
    padding-right: 0px;

}

.setting-inputs2 {
    transition: all 0.5s ease;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    background: rgba(52, 58, 64, 0.842);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius:  30px 30px 250px 50px;  
    box-shadow: 1px 0px 3px rgb(0, 0, 0);
}


/* RACE SELECTION BOX STYLES */
.race-container2 {
    transition: all 0.5s ease;
    position: relative;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(200, 200, 201);
    border: 2px solid rgba(65, 72, 85, 0.644);
    border-bottom: 0px solid rgba(37, 37, 37, 0.61);
    border-radius: 300px 25px 0px 0px;
    box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.651);
}

.raceList2 {
   transition: all 0.5s ease;
    height: 200px;
    overflow: auto;
    width: 220;
    border: 0.15em outset rgba(83, 86, 88, 0.623);
    margin: auto;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 1em;
    background: rgb(255, 255, 255, 1);
    border-radius: 15px;
}

ul {
    transition: all 0.5s ease;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    background-color: rgba(243, 243, 243, 0);
}

li {
    padding-left: 0px;
    width: fit-content;
}

label {
    transition: all 0.5s ease;
    display: block;
    color: WindowText;
    background-color: Window;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 2px solid white;
    align-self: flex-end;
}

.raceList label:hover {
    transition: all 0.5s ease;
    background-color: Highlight;
    color: HighlightText;
    border: 2px solid Highlight;
    font-weight: 500;
}
/* 
/* PLAYER DATA FORM STYLES -  input area bottom left */
#player-inputs2 {
    transition: all 0.5s ease;
    position: relative;
    width: auto;
    margin: auto;
    background: rgb(200, 200, 201);
    padding: 15px;
    padding-bottom: 15px;
    padding-top: 00px;
    border: 2px solid rgba(65, 72, 85, 0.644);
    border-top: 0px;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.651);
    max-height: 350px;
    overflow-y: auto;
}



#race-list-header2 {
    color: rgba(253, 254, 255, 0.897);
}
.section-header2 {
    position: relative;
    border-bottom: 2px solid rgba(52, 60, 68, 0.397);
    width: auto;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 5px;
    font-size: 1.1em;
}


/* 
.player-settings-interior {
    transition: all 0.5s ease;
    box-sizing: border-box;
    margin-top: 0px;
    background-color: rgb(253, 251, 251);
    border-left: 3px solid var(--default-grey);
    border: 1px solid rgba(40, 44, 48, 0.493);
    border: 0.15em inset rgba(52, 58, 64, 0.623);
    border-radius:15px;
    padding: 5px;
    max-height: 200px;
    overflow-y: auto;
    width: 220;
    margin: auto;
} */

/* .player-counter-container {
    transition: all 0.5s ease;
    width: auto;
    margin: auto;
    margin-bottom: 10px;
    background: rgba(218, 216, 216, 0.438);
    padding: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid rgba(40, 44, 48, 0.219);
    vertical-align: middle;
} */

/* BUTTONS */
/* .button-container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: auto;
}

.list-buttons {
    display: flex;
    justify-content: space-between;
}

#select-btn {
    background: rgba(50, 55, 59, 0.87);
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.836);
    border: 2px solid rgba(214, 216, 219, 0.918);
    margin-bottom: 10px;
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#clear-btn {
    background: rgba(50, 55, 59, 0.87);
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.842);
    border: 2px solid rgba(214, 216, 219, 0.918);
    margin-bottom: 10px;
    border-radius: 5px;
}  */

/* .display-header {
    margin: auto;
    width: auto;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.1em;
    height: auto;
    margin-bottom: 0px;
    vertical-align: middle;
} */
/* 
.submit-container {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-right: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
}

#submit-btn {
    margin-bottom: 0px;
    border: 1px solid rgba(214, 216, 219, 0.767);
    display: none;
    border-radius: 8px;
    font-size: 1em;
    background: rgba(5, 236, 36, 0.349);
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 1px 2px rgba(10, 10, 10, 0.493);
} */
/* 
 #reset-btn {
    border-radius: 25px;
    font-size: 1em;
    text-justify: auto;
    width: auto;
    margin: auto;
    margin-left: 0px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    border: 1px solid rgb(43, 48, 48);
    border: 1px solid rgba(221, 221, 221, 0.705);
} */
 
/* .flexInput {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin: auto;
    width: auto;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
} */

/* #player-counter {
    width: 40px;
    margin-bottom: 10px;
    font-size: 0.9em;
    background: rgb(219, 219, 219);
    border: 1px solid rgba(40, 44, 48, 0.377);
    border-radius: 5px;
    padding: 2px;
    vertical-align: middle;
}

.player-choice-label {
    padding: 0px;
    margin: 0;
    vertical-align: middle;
} */

/* .player-count-label {
    padding: 0px;
    margin: 0;
    vertical-align: middle;
} */

/* #choice-counter {
    width: 40px;
    margin-bottom: 0px;
    font-size: 0.9em;
    background: rgb(219, 219, 219);
    border: 1px solid rgba(40, 44, 48, 0.377);
    border-radius: 5px;
    padding: 2px;
    vertical-align: middle;
} */

/* #player-details-container {

    display: flex;
    justify-content: space-evenly;
    border: 1px solid rgba(255, 255, 255, 0.863);
    width: auto;
    padding-left: 10px;
    margin: auto;
    border-radius: 4%;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}

.textbox-label {
    vertical-align: middle;
    padding-bottom: 10px;
    margin: auto;
    width: 100%;
    font-size: 1.1em;
}

.name-input-field {
    padding-top: 0px;
    padding: 5px;
    width: 100%;
    height: 28px;
    margin: 0;
    vertical-align: middle;
    font-size: 0.9em;
    margin-bottom: 10px;
    background: rgba(40, 44, 48, 0.082);
    border: 1px solid rgba(40, 44, 48, 0.377);
    border-radius: 5px;
} */



