
body {
margin: 0;
padding: 0;
background-color: rgba(235, 230, 226, 0.733);
}
.content-container {
    display: flexbox;
    position: relative;
    /* box-sizing: border-box; */
    /* align-content:  space-between;
    justify-content: space-evenly
} 
.table-container {
    /* display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    flex-direction: column; */
}
.button-container {
    display: block;
    position: relative;
    /* left: 150px; */
    margin: auto;
    margin-top: -125px;
    text-align: center;
    font-family: 'Schoolbell', cursive;   
    color: rgba(230, 96, 34, 0.9);
    font-size: 5rem;
    font-weight: 500;
    z-index: 2;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
	text-shadow:
		-3px -2px 0 rgba(255, 255, 255, 0.404),
		2px -3px 0 rgba(252, 246, 246, 0.308),
		-2px 2px 0 rgba(255, 255, 255, 0.555),
		2px 2px 0 rgba(255, 255, 255, 0.295)
}


button {
    color: white;
    font-weight: 600;
    font-size: 2em;
    height: 75px;
    border-radius: 60%;
    margin: auto;

    background-color: rgba(45, 91, 122, 0.8);

}

h1{
    color: rgba(39, 67, 87, 0.8);
    display:  flex; 
    position: relative;
    align-content: center ;
    justify-content: center; 
    text-align: center;
}
table { 
        /* padding-top: 6%;
        padding-bottom: 6%; */
    border-collapse: collapse;
    margin: auto;
    height: auto;
    display:  flex; 
    position: relative;
    align-content: center;
    /* background-color: rgba(230, 231, 218, 0.212); */
    justify-content: center;
    /* left: 50%; */
    /* margin-left: -160px; */
    top: 50px;
    /* box-shadow: -5px 5px 15px rgba(36, 34, 21, 0.363); */

}

td {
    background-color:  rgb(255, 251, 230);
    padding: 0px;
    margin: 0px;
    border: 10px solid rgba(45, 91, 122, 0.8);
    height: 150px;
    width: 125px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Schoolbell', cursive;    
    font-weight: 100;
    font-size:  7rem;
    cursor: pointer;
    color: rgba(43, 40, 40, 0.781);
    text-shadow: 0px 0px 15px rgba(221, 189, 145, 0.8);
    box-shadow: -5px 5px 15px rgba(48, 65, 66, 0.685);
}

td:hover {

    background-color: rgba(252, 252, 252, 0.918);
    box-shadow: -5px -5px 15px rgba(202, 177, 162, 0.473);
}
td:active {
    background-color: rgba(48, 52, 54, 0.795);
    box-shadow: -5px -5px 10px rgba(66, 66, 66, 0.589);
}

/* selects the top of table, the first-child table row of the table, and then applies the style for each TD in the the row */
table tr:first-child td {
    border-top: 0;    
}

table tr:last-child td {
    border-bottom: 0;
}

/* this is selecting the left-side cells of the table (the first-child of all the table rows, so the first cell in each row)*/
table tr td:first-child {
    border-left: 0;
}

/* this is selecting the left-side cells of the table (the first-child of all the table rows, so the first cell in each row)*/
table tr td:last-child {
    border-right: 0;
}

.endgame {
    display: none;
    position: absolute;
    justify-content: center;
    width: 300px;
    height: auto;
    top: 100px;
    background-color: rgba(34, 110, 133, 0.938);
    border-radius: 20px;
    left: 50%;
    margin-left: -155px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Schoolbell', cursive;   
    color: rgba(255, 255, 255, 0.822);
    font-size :3.2em;
    font-weight: 300;
    cursor: pointer;
    border: 8px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.endgame .winner-text {
    display: inline;
}



.endgame:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.9);
}
