  :root {
      --mainRed: #A04650;
      --mainBlue: #284B78;
      --transparentBlue: #e0e7f771;
      --mainPurple: #9c3a5f;
      --lightPurple: #ac73ac;
      --fadedPurple: #bba4bb;
      --mainWhite: #fffffa;
  }

  i {
      position: relative;
      display: block;
      margin-top: 75px;
      font-size: 1.1em;
      height: fit-content;
      width: fit-content;
      color: rgb(255, 255, 255);
      border-radius: 50%;
      text-align: center;
      padding-left: 0px;
      box-shadow: 0px 0px 1px 1px var(--mainRed);
      transition: 200ms box-shadow ease-in-out, 100ms background ease-in-out, 200ms border ease, 150ms color ease;
  }

  i:active {
      box-shadow: 0px 0px 3px 2px rgba(76, 76, 77, 0.164);
      background: rgba(255, 255, 255, 0.466);
      color: var(--mainRed);
      font-size: 1.2em;
  }

  html {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  body {
      background: rgb(40, 75, 120);
      color: rgb(255, 255, 255);
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.6;
      margin: 0.3rem 0px 1rem 0px;
  }

  .hiddenMessage {
      top: 5px;
      left: 5px;
  }

  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5px 20px;
  }

  h2,
  h3 {
      padding: 0px 0px 0px 0px;
      margin-top: 5px;
      margin-bottom: 5px;
  }

  h1 {
      font-weight: 800;
      font-size: 3em;
      line-height: 1.1;
      letter-spacing: 0.05em;
      margin: 5px 0px;
      text-align: left;
  }

  h3 {
      padding-top: 5px;
  }

  .app {
      box-sizing: border-box;
      max-width: 750px;
      max-height: 100%;
      margin: auto;
      padding: 0px 0px 0px 0px;
  }

  main {
      box-sizing: border-box;
      max-width: 750px;
      max-height: 100%;
      margin-top: 0px;
      padding: 2px 3px 15px 3px;
      border: 2px solid var(--transparentBlue);
      border-radius: 5px;
      background: var(--mainRed);
  }

  .body-flex {
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
  }

  .sidebar-toggle {
      color: white;
      display: flex;
      text-align: left;
      justify-content: left;
      width: 30px;
      margin: 0;
      padding: 0px;
  }

  .sidebar-hidden {
      display: none;
  }

  .sidebar-shown {
      box-sizing: border-box;
      display: block;
      z-index: 500;
      width: 300px;
      padding: 15px;
      margin: 0;
      background: var(--mainRed);
  }

  /* Start of Head Grid Styles*/
  .grid-head {
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 4fr 8fr 25px;
      background: var(--mainRed);
      grid-column: content-start / span 4;
      min-height: 110px;
      border-radius: 5px;
      padding-right: 5px;
      z-index: 0;
  }

  .header {
      box-sizing: border-box;
      background: var(--mainRed);
      padding: 1vw 5vw;
      border-radius: 3px;
  }

  .header1 {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 800;
  }

  .header-button-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }

  .header-text-input {
      box-sizing: border-box;
      width: 100%;
      border-radius: 5px;
      border: 0px;
      padding: 5px;
      touch-action: manipulation;
      grid-area: input;
  }

  .header2-label {
      box-sizing: border-box;
      margin-bottom: 3px;
      margin: 10px auto 0px 0px;
      grid-area: hText;
  }

  .header-button {
      grid-area: button;
      box-sizing: border-box;
      height: 25px;
      width: 20px;
      color: var(--mainWhite);
      border-radius: 5px;
      margin-left: 10px;
      outline: none;
      opacity: 0;
      touch-action: manipulation;
  }

  .header2 {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      touch-action: manipulation;
  }

  /* End of Head grid styles */
  .grid-body {
      box-sizing: border-box;
      display: grid;
      gap: 7px;
      grid-column-gap: 10px;
      max-height: 600px;
      width: 100%;
      margin: auto;
      padding: 3px;
      background: var(--mainBlue);
      grid-template-columns: 1fr 2fr;
      grid-auto-rows: auto;
      grid-template-rows: auto;
      overflow-x: auto;
      border-radius: 5px;
      border: 1px solid var(--lightPurple);
  }

  .grid-body:nth-child(2) {
      grid-column: span 2;
  }

  .grid-cell {
      min-height: 90px;
      padding: 1vw 2vw;
      color: rgb(106, 107, 114);
      background: rgb(255, 255, 250);
      border-radius: 3px;
      border: 2px solid rgba(255, 255, 255, 0);
      font-size: 1.2em;
      font-weight: 600;
      transition: 150ms box-shadow ease-in-out, 300ms background ease, 200ms border ease, 100ms font-weight ease;
  }

  .header-form {
      display: flex;
      touch-action: manipulation;
  }

  .grid-cell:hover {
      box-shadow: 0px 0px 100px 30px inset var(--lightPurple);
      background: rgba(255, 255, 255, 0.815);
      border: 2px solid white;
      font-weight: 600;
      cursor: pointer;
      color: white;
  }

  .grid-cell:active {
      box-shadow: 0px 0px 125px 40px inset rgba(221, 138, 221, 0.753);
      background: rgba(201, 105, 180, 0.856);
      border: 2px solid white;
      font-weight: 600;
      cursor: pointer;
      color: white;
  }

  .grid-cell:nth-child(3n+0) {
      grid-column: span 2;
  }

  .grid-cell:nth-child(4n+1) {
      background: rgba(224, 231, 247, 0.445);
      color: var(--mainWhite);
  }

  .grid-cell:nth-child(4n+1):hover {
      color: var(--mainWhite);
      font-weight: 500;
      background: var(--transparentBlue);
      box-shadow: 0px 0px 100px 40px inset rgb(192, 77, 102);
  }

  a {
      color: hsl(194, 60%, 43%);
  }

  @media screen and (max-width: 450px) {

      body {
          margin: 2rem 0px 0rem 0px;
      }

      header {
          padding: 0px 0px 0px 3px;
          justify-content: flex-start;
      }

      header>h3 {
          display: none;
      }

      main {
          height: 100%;
          margin: auto;
          margin-top: 0px;
          padding: 2px 3px 15px 3px;
      }

      .sidebar-toggle {
          color: white;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          width: 10px;
          margin: 0;
          padding: 0px;
          touch-action: manipulation;
      }

      .grid-head {
          display: grid;
          grid-template-columns: 4fr 8fr 10px;
          font-size: 0.9em;
      }

      .grid-body {
          height: 110vw;
          background: var(--mainBlue);
          grid-template-columns: 1fr 2fr;
          touch-action: manipulation;
          overflow-x: auto;
          border-radius: 5px;
          border: 1px solid var(--lightPurple);
      }

      .header {
          padding: vw 1vw;
          border-radius: 3px;
          touch-action: manipulation;
      }

      .header2 {
          padding: 5px;
      }

      .header2-label {
          margin: auto;
          margin-bottom: 4px;
          margin-top: 7px;
          padding: 3px 10px;
      }

      .header1 {
          display: flex;
          flex-direction: column;
          justify-content: CE;
          padding-left: 10px;
      }

      .header1>h1 {
          font-weight: 800;
          font-size: 2em;
      }

      .header-button-container {
          display: grid;
          grid-template-areas:
              "hText "
              "input";
          grid-template-rows: 2;
          justify-content: space-around;
          touch-action: manipulation;
      }

      .header-text-input {
          width: 90%;
          margin-left: 15px;
          touch-action: manipulation;
      }

      .hiddenMessage {
          left: 75%;
          font-size: 0.9em;
          width: fit-content;
      }
  }
