* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

.gradient {
  background-image: linear-gradient(0deg, #DAB542, rgba(255, 255, 255, 0)),
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 25, 255, 0)),
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
}

html {
  font-family: 'Roboto', sans-serif;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;

}

html,
body {
  width: 100%;
  height: 100%;
}


#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 0px;
  /* overflow: hidden; */
  transition: 2.5s;
}

#app-header {
  /* display: flex; */
  /* flex-direction: row; */
  align-items: center;
  display: flex;
  /* grid-template-columns: 64px 1fr 0px; */
  /* grid-template-rows: 1fr; */
  justify-content: space-evenly;

  gap: 32px;
  /* color: #D1D1D1; */
  max-width: 350px;
  margin: auto;
}

#app-header-center {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  justify-content: center;
  align-items: center;
  /* padding: 0px 8px; */
  /* border: 1px solid white; */
  /* color: #D1D1D1; */
  height: 100%;
  width: 100%;

}

#app-header-left {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  justify-content: center;
  align-items: center;
  /* padding: 8px 16px; */
  /* border: 1px solid white; */
  /* color: #D1D1D1; */
  height: 100%;
  width: 100%;


}

#app-header-right {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  justify-content: center;
  align-items: center;
  /* padding: 8px; */
  /* color: #D1D1D1; */
}


.avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* color: #D1D1D1; */
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

#app-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 8px 0px;
  letter-spacing: 22px;
  filter: drop-shadow(0 0 4px #1D4873) contrast(1);
  font-size: 36px;
  width: 100%;
  /* height: 27px; */
  /* border: 1px solid white; */
  height: 100%;
}

.invert .avatar {
  filter: invert(0) !important;
}

#app-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  font-family: 'Roboto', sans-serif;
  height: 18px;
  filter: contrast(140%);
}

#app-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  overflow: hidden;
}

/* #app-body {
  overflow: scroll;
} */


#app-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0px 0 4px 0;
}

#github-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 16px;
  color: #222222;
  font-size: 18px;
  letter-spacing: 1.25px;
}

.invert {
  filter:
    hue-rotate(3250deg);
  transition: 20s ease !important;
}

.outvert {
  filter:
    hue-rotate(-3250deg);
  transition: 20s ease !important;
}

#repo-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  /* max-width: 350px; */
  height: 100%;
  padding: 4px 56px;
  /* min-wid4pxth:100vw;min-height:100vh; */
  overflow: scroll;
  background: #00000063;
  /* backdrop-filter: invert(1); */

}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  width: 100%;
  /* height: 100%; */
  background: #EBEBEB63;
  /* min-width:100vw;min-height:100vh; */
  /* overflow: scroll; */
}

.list-item-top-row {
  font-size: 28px;
  color: #ffffff;
  text-decoration: none;
  text-decoration-color: pink;
}

a {
  color: #ffffff;
  text-decoration: none; /* no underline */
}