* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

.gradient {
  background-image: linear-gradient(0deg, #DAB542, rgba(255, 255, 255, 0)),
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 25, 255, 0)),
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
}

html {
  font-family: 'Roboto', sans-serif;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;

}

html,
body {
  width: 100%;
  height: 100%;
}


#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 0px;
  transition: 2.5s;
}

#app-header {
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  gap: 32px;
  max-width: 350px;
  margin: auto;
  background: transparent;
  /* backdrop-filter: blur(5px); */
}

#app-header-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: transparent;

}

#app-header-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#app-header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  cursor: pointer;
}

#app-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 8px 0px;
  letter-spacing: 22px;
  filter: drop-shadow(0 0 14px #1D4873) contrast(1);
  font-size: 36px;
  width: 100%;
  height: 100%;
}

.invert .avatar {
  filter: invert(0) !important;
}

#app-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  font-family: 'Roboto', sans-serif;
  height: 18px;
  filter: contrast(140%);
}

#app-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  overflow: scroll;
  background: none;
}

#app-body-top {
  /* opacity: 0.5; */
  filter: brightness(1.2) contrast(1.4);
  backdrop-filter: opacity(0.1) blur(5px);
  box-shadow: 0 5px 2px 2px #0a0a0a62;
}

#repo-search-input {
  width: 100%;
  /* padding: 3px 4px; */
  border-bottom: 2px solid #3b3b3bbe;
  background: transparent;
}

#repo-search-input:focus {
  width: 100%;
  filter: brightness(1.5) contrast(1.8) hue-rotate(200deg);
  backdrop-filter: invert(1);
  /* padding: 3px 4px; */
  border-bottom: 2px solid #3b3b3bbe;
  /* background: #FFFFFF; */
}

#app-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0px 0 4px 0;
}

.github-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 16px;
  color: #222222;
  font-size: 16px;
  letter-spacing: 1.25px;
}

.invert {
  filter:
    hue-rotate(3250deg);
  transition: 20s ease !important;
}

.outvert {
  filter:
    hue-rotate(-3250deg);
  transition: 20s ease !important;
}

#repo-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 100%;
  padding: 4px 8px;
  overflow: scroll;
  background: #00000063;
  background: transparent;
  scroll-behavior: smooth;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  width: 400px;
  padding: 4px 8px;
  background: #EBEBEB63;
  cursor: pointer;
}

.list-item[data-hide=true] {
  display: none;
}

.list-item:hover {
  filter: brightness(1.5);
}

.list-item:active {
  filter: brightness(0.5);
}

.list-item-top-row {
  font-size: 28px;
  color: #ffffff;
  text-decoration: none;
  text-decoration-color: pink;
}

.list-item-middle-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.list-item-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
  /* no underline */
}

.scrollable {
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.scrollable::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.control-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: fit-content;
  gap: 8px;
  padding: 4px 8px;
}

.control-group label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.control-group input {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  font-size: 16px;
  border: 1px solid #00000000;
  outline: none;
  /* border-radius: 5px; */
}
