* {
  outline: none;
}

html {
  padding: 0;
  margin: 0;
  width: 100%;
  background: rgba(59, 90, 158, 0.877);
  /*background: rgba(65, 65, 55, 1);*/
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: rgba(59, 90, 158, 0.877);
}

.app {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  width: 100%;
  height: 100%;
  max-width: 600px;
  margin: 0;
  border: 2px solid rgb(189, 153, 107);

  background: rgb(189, 148, 35)
}

.app-header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: rgba(59, 90, 158, 0.877);
  height: 100%;
  padding: 5px 15px;
  justify-content: center;
  text-align: center;
}

.header-text {
  color: white;
}

.symbolIn {
  padding: 5px;
  font-size: 1em;
  border-radius: 3px;
  border: 1px solid white;
  margin: 5px auto;
}

.submitButton {
  padding: 5px;
  font-size: 1em;
  border-radius: 3px;
  border: 1px solid white;
  background: rgba(240, 249, 240, 1);


}

.content-container {
  box-sizing: border-box;
  background: rgba(218, 100, 54, 0);
  width: 100%;
  margin: 0;
  justify-content: center;

}

.app-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;

  margin: 0;
  padding: 0;

}


.game-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 5px;
  width: 100%;
  margin: auto;
  padding: 10px 0px;
  height: 100%;
  background: rgba(166, 182, 189, 0);
}

.grid-cell {
  box-sizing: border-box;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  padding: 5px;
  margin: 0;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 10px 1px rgba(52, 56, 59, 0.315);
  transition: 300ms border-radius ease-in-out, 300ms background ease-in-out;

}

.selected {
  background: rgba(155, 55, 120, 0.7);
  box-shadow: 0px 0px 10px 1px rgba(150, 125, 135, 0.315);
  outline: 0px solid rgba(220, 220, 220, 0);
  border-radius: 3px;
}

.matched {
  background: rgba(180, 130, 165, 0.3);
  box-shadow: 0px 0px 10px 1px rgba(150, 125, 135, 0.315);
  outline: 2px solid rgba(220, 220, 220, 0);
  border-radius: 50%;
  outline-offset: 5px;
}




.cell1 {}

.cell2 {}

.cell3 {}

.cell4 {}

.cell5 {}

.cell6 {}

.cell7 {}

.cell8 {}

.cell9 {}

.cell10 {}

.cell11 {}

.cell12 {}

.cell13 {}

.cell14 {}

.cell15 {}

.app-footer {
  background: rgba(59, 90, 158, 0.877);
  height: 100%;
}

@media screen and (max-width: 400px) {

  .app {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2fr;
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px solid rgb(189, 153, 107);
  }

  .content-container {

    box-sizing: border-box;

  }

  .game-grid {
    box-sizing: border-box;
    display: grid;
    /*grid-template-columns: repeat(4, minmax(50px, 1fr));*/
    grid-template-rows: auto;
    gap: 5px;
    width: 100%;

    margin: auto;
    padding: 5px;
    /* background: rgba(166, 182, 189, 0.911);
 } */

  }

}