.race-container {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    margin: auto;
    /* margin-bottom: 5px; */
    /* padding: 10px; */
    background: var(--default-grey);
    border: 2px solid rgba(37, 37, 37, 0.6);
    border-bottom: 0px solid var(--default-grey);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 3px rgba(10, 10, 10, 0.856);
}

#player-inputs {
    /* padding-top: 10px; */
    width: auto;
    position: relative;
    /* border-top: 3px solid var(--default-grey); */
    border-left: 2px solid rgba(37, 37, 37, 0.61);
    border-right: 2px solid rgba(37, 37, 37, 0.61);
    border-left: 2px solid rgba(37, 37, 37, 0.61);
    border-bottom: 2px solid rgba(37, 37, 37, 0.61);
    margin: auto;
    background: var(--default-grey);
    padding-bottom: 2px;
    padding: 15px;
    padding-top: 10px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 3px 3px 3px #fffcea
}