root {
    --gunmetal-color: rgba(52, 58, 64, 0.959);
    --default-grey: rgba(224, 224, 224, 0.829);
}

body {
    background-color: rgba(219, 219, 219, 0.411);
    height: auto;
    margin: 0px;
    padding: 0px;
}

.mt-4 {
    box-sizing: border-box;
    margin: 5px;
}

.grid-container {
    display: grid;
    margin: auto;
    padding: 0px;
    margin-top: 25px;
    grid-template-columns: minmax(min-content, 300px) minmax(350px, 1fr);

    /* grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr); */
    grid-column-gap: 0.3em;
    grid-row-gap: 0.3em;
    grid-auto-rows: minmax(15px, auto);
    background: rgba(255, 255, 255, 0.151);

}

.results-container {
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
    background: rgba(52, 58, 64, 0.719);
    color: rgb(230, 230, 230);
    border: 1px solid rgb(255, 255, 255);
    border-top: 0px solid rgba(255, 255, 255, 0.363);
    border-radius: 15px;
    box-shadow: 1px 0px 3px rgb(0, 0, 0);
}

#result-list {
    display: none;
    width: auto;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    padding-right: 0px;
    padding-left: 10px;
    font-size: 1.1em;
    color: rgba(52, 58, 64, 0.842);
    background-color: rgb(255, 255, 255);
    border: 3px solid rgba(156, 156, 156, 0.986);
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.651);
}


.output-id {
    font-weight: 500;
}

.output-playername {
    padding-left: 5px;
    /* font-weight: 500; */
}

.player-header {
    margin: 0px;
    padding: 5px;
    padding-left: 10px;
    font-size: 1em;
    background: rgb(214, 214, 214);
    border-radius: 15px 0px 0px 15px;
    border-bottom: 2px solid rgba(156, 156, 156, 0.336);
    border-left: 2px solid rgba(156, 156, 156, 0.349);
}

.player-details {
    padding-left: 15px;
    margin-bottom: 0px;
    margin-top: 2px;
    font-size: 1em;
    /* font-weight: 500; */
}

.setting-inputs {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    ;
    margin: auto;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    background: rgba(52, 58, 64, 0.842);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 1px 0px 3px rgb(0, 0, 0);
}

.race-container {
    position: relative;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(200, 200, 201);
    border: 2px solid rgba(37, 37, 37, 0.61);
    border-bottom: 0px solid rgba(37, 37, 37, 0.61);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.651);
}

#player-inputs {
    position: relative;
    width: auto;
    margin: auto;
    background: rgb(200, 200, 201);
    padding: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
    border: 2px solid rgba(37, 37, 37, 0.61);
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.651);
}

.player-settings-interior {
    margin-top: 0px;
    background-color: rgb(253, 251, 251);
    border-left: 3px solid var(--default-grey);
    border: 1px solid rgba(40, 44, 48, 0.493);
    border: 0.15em inset rgba(52, 58, 64, 0.623);
    border-radius: 15px;
    padding-bottom: 10px;
    margin: auto;
}

.player-counter-container {

    width: auto;
    margin: auto;
    margin-bottom: 10px;
    background: rgba(218, 216, 216, 0.438);
    padding: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid rgba(40, 44, 48, 0.219);

    vertical-align: middle;
}


/* BUTTONS */
.button-container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    /* padding-left: 15px; */
    margin: auto;
}

.list-buttons {
    display: flex;
    justify-content: space-between;
}

#select-btn {
    background: rgba(50, 55, 59, 0.87);
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.836);
    border: 2px solid rgba(214, 216, 219, 0.918);
    margin-bottom: 10px;
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#clear-btn {
    background: rgba(50, 55, 59, 0.87);
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.842);
    border: 2px solid rgba(214, 216, 219, 0.918);
    margin-bottom: 10px;
    border-radius: 5px;
}

.display-header {
    margin: auto;
    width: auto;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;

    font-size: 1.2em;
    height: auto;
    margin-bottom: 0px;
    vertical-align: middle;
}

.submit-container {
    display: flex;
    justify-content: space-between;

    /* height: auto; */
    width: 80%;
    margin: auto;
    padding: 15px;
    margin-right: 0%;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;

}

#submit-btn {

    /* margin-bottom: 10px; */
    border: 1px solid rgba(214, 216, 219, 0.767);
    display: none;
    border-radius: 15px;
    font-size: 1.1em;
    /* background: rgba(22, 175, 43, 0.651); */
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.493);
   

}

#reset-btn {
    border-radius: 15px;
    font-size: 1em;
    width: auto;
    margin: auto;
    margin-left: 0px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    display: none;
    vertical-align: middle;
    border: 1px solid rgba(255, 255, 255, 0.705);


}

.display-header-controls {
    display: flex;
    position: relative;
    /* z-index: 0; */
    justify-content: space-between;
    vertical-align: middle;
    background: rgba(45, 48, 51, 0.473);
    /* height: auto; */
    width: 100%;
    margin: 0;
    /* margin-left: -15px; */
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 5px;
    margin-bottom: 5px;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 2px solid rgba(214, 214, 214, 0.473);

}

.flexInput {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin: auto;
    width: auto;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;

}





#player-counter {
    width: 40px;
    margin-bottom: 10px;
    font-size: 0.9em;
    background: rgb(219, 219, 219);
    border: 1px solid rgba(40, 44, 48, 0.377);
    border-radius: 5px;
    padding: 2px;
    vertical-align: middle;
}

.player-choice-label {
    padding: 0px;
    margin: 0;
    vertical-align: middle;

}

.player-count-label {
    padding: 0px;
    margin: 0;
    vertical-align: middle;
}

#choice-counter {
    width: 40px;
    margin-bottom: 0px;
    font-size: 0.9em;
    background: rgb(219, 219, 219);
    border: 1px solid rgba(40, 44, 48, 0.377);
    border-radius: 5px;
    padding: 2px;
    vertical-align: middle;
}

#player-details-container {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid rgba(255, 255, 255, 0.863);
    width: auto;
    padding-left: 15px;
    margin: auto;
    border-radius: 4%;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}

.textbox-label {
    vertical-align: middle;
    padding-bottom: 5px;
    margin: auto;
    width: 100%;
    font-size: 1.1em;
}

.name-input-field {
    padding-top: 0px;

    padding: 5px;
    width: 100%;
    height: 30px;
    margin: auto;
    /* width: auto; */
    vertical-align: middle;
    color: var(--gunmetal-color);
    font-size: 0.9em;
    margin-bottom: 5px;
    background: rgba(40, 44, 48, 0.082);
    border: 1px solid rgba(40, 44, 48, 0.377);
    border-radius: 5px;
    /* margin-left: 20px; */
}


.top-container {
    padding: 0px;
    margin: 0px;
    background: rgba(52, 58, 64, 0.952);
    grid-area: 1/span 2;
    width: 100%;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 3px;
    height: 20px;



}

.bottom-container {
    padding: 0px;
    background: rgba(52, 58, 64, 0.993);
    grid-area: 2/span 2;
    width: auto;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 3px;
    height: 100px;
}

.section-header {
    position: relative;
    border-bottom: 2px solid rgba(52, 60, 68, 0.397);
    width: auto;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 5px;
    font-size: 1.3em;
}

/* RACE SELECTION BOX STYLES */
.raceList {
    height: 225px;
    overflow: auto;
    width: 220;
    border: 0.15em inset rgba(52, 58, 64, 0.623);
    margin: auto;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 1.1em;
    background: rgb(255, 255, 255, 1);
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    background-color: rgba(243, 243, 243, 0);
}

li {
    padding-left: 0px;
    width: fit-content;
    background-color: rgba(243, 243, 243, 1);
}

label {
    display: block;
    color: WindowText;
    background-color: Window;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 2px solid white;
    /* align-self:flex-end; */
}

.raceList label:hover {
    background-color: Highlight;
    color: HighlightText;
    border: 2px solid Highlight;
    /* font-weight: 500; */
}



@media screen and (max-width: 400px) {
    .grid-container {
        grid-template-columns: 1fr;
        width: 95%;
        margin: auto;
        margin-top: 10px;
    }
}

@media screen and (max-width: 400px) {
    .bottom-container {
        /* padding: 10px; */
        grid-area: 3/span 1;

    }

    .top-container {
        grid-area: 1/span 1;
        width: auto;
    }


}