@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,700|Ubuntu:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,600,700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
	font-weight: 500;
	font-family: 'Montserrat Alternates', sans-serif;
}

html {
	box-shadow: 0px 0px 500px 10px inset rgba(126, 124, 107, 0.301);
}
body {
	width: 100vw;
	height: 100vh;
	background: rgba(175, 188, 189, 0.308);
	margin: 5px auto 0px auto;
}
.objOut {
	height: fit-content;
	background: rgba(50, 51, 53, 0.842);
}

.app {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 350px 1fr;
	height: 94%;
	max-width: 550px;
	padding: 0.5em;
	padding-bottom: 0;

	margin: auto;
	margin-bottom: 0;
	border: 1px solid grey;
	border-radius: 9px;
	background: rgba(143, 144, 151, 0.842);
	box-shadow: 0px 0px 15px 2px inset rgba(188, 195, 202, 0.863);
}

.display {
	position: relative;
	background: rgb(58, 58, 58);
	border: 2px ridge rgba(192, 183, 183, 0.616);
	margin: 0px 5px;
	border-radius: 7px;
	overflow: hidden;
}

.controls {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: rgb(171, 171, 175);
	padding: 0px 0px;
	box-shadow: 0px 0px 75px 10px inset rgba(105, 108, 112, 0.767);
}

.group-section {
	display: flex;
	flex-direction: rows;
	justify-content: space-between;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 5px;
}

.userform {
	display: flex;
	display: grid;
	gap: 15px;
	flex-direction: column;
	justify-content: flex-starts;
	height: 100%;
	background: rgba(135, 135, 139, 0.603);
	box-shadow: 0px 0px 20px 15px inset rgb(151, 153, 163);
	border-radius: 5px;
	padding: 10px 0px 20px;
}

fieldset {
	padding: 5px 8px;
	border: 2px ridge rgba(144, 150, 163, 0.418);
	border-radius: 4px;
	box-shadow: 0px 0px 35px 5px inset rgba(143, 145, 148, 0.644);
	background: rgba(207, 208, 209, 0.472);
}

legend {
	font-size: 1.05em;
	line-height: 1.05;
	background: rgba(238, 238, 238, 0.904);
	border-radius: 10px;
	padding: 2px 5px 3px 5px;
	margin-top: 4px;
	border: 1px double rgb(144, 150, 163);
}
legend>span {
	color: rgb(105, 106, 109);
}
label {
	text-shadow: 0px 0px 10px rgba(50, 51, 53, 0.842);
	font-weight: 600;
}

#thumb {
	background-color: green;
	fill: green;
	color: rgb(122, 146, 122);
}
.dim-controls {
	margin-bottom: 0px;
}

.transform-group {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	column-gap: 10px;
	padding: 5px;
}

.slidecontainer {
	width: 100%;
}
.control {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background: rgba(218, 218, 218, 0.219);
	outline: none;
	opacity: 0.9;
	-webkit-transition: 0.5s;
	transition: opacity 0.5s;
	box-shadow: 0px 0px 10px 3px inset rgba(190, 193, 195, 0.144);
	background: rgba(60, 80, 138, 0.8);
}
.control {
	-webkit-appearance: none;
	width: 100%;
	height: 7px;
	outline: none;
	opacity: 0.9;
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.2s ease;
	background: rgb(255, 255, 255);
	border: 1px solid rgba(90, 90, 90, 0);
	border-radius: 5px;
}

.control:hover {
	opacity: 0.8;
	border: 1px solid rgba(66, 66, 66, 0.699);
	box-shadow: 0px 0px 10px 3px inset rgba(235, 237, 238, 0.274);
}
.control::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 26px;
	height: 26px;
	background: rgba(221, 221, 221, 0.966);
	border: 2px solid rgba(248, 248, 248, 0.966);
	box-shadow: 0px 0px 1px 1px rgba(63, 63, 63, 0.603);
	cursor: pointer;
	transition: 0.2s ease-in-out;
	border-radius: 100px;
	transform: scale(0.95);
}

.control::-webkit-slider-thumb:hover {
	-webkit-appearance: none;
	appearance: none;
	width: 27px;
	height: 30px;
	background: #fffffff5;
	cursor: pointer;
	border-radius: 100px;
	border: 2px double rgb(255, 255, 255);
	transform: scale(1.1);
}


.vis {
	position: absolute;
	width: 100px;
	height: 100px;
	background: rgb(111, 112, 114);
	box-shadow: 0px 0px 10px 0px #3b3b3b8c;
	border-radius: 100px;
	cursor: pointer;
	top: 120px;
	left: 210px;
	z-index: 1;
	position: absolute;
	background: rgb(207, 116, 42);
	box-shadow: 0px 0px 30px 3px inset #0c5e7755;
	border: 1px solid rgba(133, 133, 133, 0.596);
	border-radius: 100px;
	z-index: 0;
	animation-name: visObj;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.vis:hover {
	background: rgba(233, 120, 27, 0.932);
	box-shadow: 0px 0px 20px 3px inset #416c79b7;
	transition: 0.3s ease-in-out;
	transform: rotate3d(-55px, 453px, 1110px, 1234deg);
}

.vis:active {
	background: rgba(231, 107, 6, 0.267);
	box-shadow: 0px 0px 30px 3px inset #404242be;
	transition: 0.4s ease;
	transform: rotate3d(-55px, 453px, 1110px, 1234deg);
}

.shape-square {
	border-radius: 100px;
	transition: 1s ease;
}

@media screen and (max-width: 450px) {
	.vis {
		height: 70px;
		width: 70px;
	}
}

@keyframes visObj {
	0% {
		background-color: rgb(12, 59, 30);
		box-shadow: 11px -4px 20px 3px #1cb1dfb7;
		height: 105%;
		width: 75%;
		left: 120px;
		border: 3px solid rgba(100, 33, 102, 0.76);
		transform: rotate3d(-55px, 453px, 1110px, 1234deg) skewX(55deg);
	}

	25% {
		background-color: rgb(59, 146, 228);
		box-shadow: 0px 0px 50px 3px #66a074b7;
		height: 90%;
		ox-shadow: 0px 0px 50px 3px inset #fa0000b7;
		width: 65%;
		transform: skewY(-423deg);
		transition: 0.6s ease;
	}

	50% {
		box-shadow: -5px 10px 20px 3px #df9203b7;
		background: rgba(189, 226, 22, 0.308);
		transform: rotate(-1126deg);
	}

	100% {
		box-shadow: 0px 22px 5px 10px #b91a84b7;
		background-color: rgb(124, 114, 123);
	}
}

/* The element to apply the animation to */
@media screen and (max-width: 450px) {
	body {
		height: 100%;
	}

	.app {
		position: relative;
		display: grid;
		grid-template-rows: 350px 1fr;
		height: 97%;
		max-width: 98vw;
		background-color: rgba(86, 89, 102, 0.63);
		padding-bottom: 15px;
	}

	.display {
		margin-top: 5px;
	}

}

@media screen and (max-width: 450px) {
	body {
		height: 100%;
	}
	.app {
		position: relative;
		display: grid;
		grid-template-rows: 350px 1fr;
		height: 97%;
		max-width: 98vw;
		background-color: rgba(86, 89, 102, 0.63);
		padding-bottom: 15px;
	}

	.display {
		margin-top: 5px;
	}
}